* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 40px;
}

a {
  color: rgb(71, 170, 209);
}

.side-nav {
  width: 20%;
  height: 100%;
  padding: 40px;
  border-right: 1px solid #eee;
}

.main {
  padding: 40px;
}
